# **1. zadatak**

Možemo primijetiti da redci vezani za DataType THDR imaju samo 4 stupca podataka, dok redci za DataTypove TITM i PCTL imaju 5 stupaca podataka. Također, svaki DataType ima posebna imena za svaki svoj stupac. 

U ovom zadatku rastavit ćemo veliki csv u tri manja csv-a s obzirom na DataType.

Učitavamo pandas library kako bismo mogli započeti zadatak.

In [ ]:
import pandas as pd

Učitavamo polaznu tablicu te pridružujemo imena stupaca u numeričkom obliku kako bismo lakše upravljali tablicom.

In [ ]:
with open("TRANSACTIONS_HISTORY.csv", 'r') as trans:
    col_count = [ len(l.split("|")) for l in trans.readlines() ]

column_names = [i for i in range(0, max(col_count))]

th = pd.read_csv("TRANSACTIONS_HISTORY.csv", header=None, delimiter="|", names=column_names)

Pregledat ćemo početnu tablicu tj. rezultat th:

In [ ]:
th

          0  ...                                             4
0      THDR  ...                                           NaN
1      THDR  ...                                           NaN
2      THDR  ...                                           NaN
3      THDR  ...                                           NaN
4      THDR  ...                                           NaN
...     ...  ...                                           ...
16616  PCTL  ...  Sony 8GB Class 10 Micro SDHC R40 Memory Card
16617  PCTL  ...               RCA ViSYS 25425RE1 Corded phone
16618  PCTL  ...                  Cisco 8961 IP Phone Charcoal
16619  PCTL  ...                   Eureka Hand Vacuum, Bagless
16620  PCTL  ...                                         LG G2

[16621 rows x 5 columns]

Možemo uočiti da ovakvim učitavanjem u 4. stupcu dobivamo na nekim pozicijama NaN vrijednosti, no to nam trenutno ne radi problem za ostatak zadatka.

Sljedećom naredbom rastavljamo početnu tablicu s obzirom na podatke u 1. stupcu.

In [ ]:
K = {k: table for k, table in th.groupby(0)}

Pregledat ćemo rezultat K:

In [ ]:
K

{' Report Binders, Letter Size':                                   0       1    2    3    4
 8026    Report Binders, Letter Size  12.957  NaN  NaN  NaN
 8249    Report Binders, Letter Size   1.234  NaN  NaN  NaN
 9766    Report Binders, Letter Size   5.553  NaN  NaN  NaN
 10149   Report Binders, Letter Size   43.19  NaN  NaN  NaN
 16235   Report Binders, Letter Size     NaN  NaN  NaN  NaN,
 'PCTL':           0  ...                                                  4
 14726  PCTL  ...                  Bush Somerset Collection Bookcase
 14727  PCTL  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...
 14728  PCTL  ...  Self-Adhesive Address Labels for Typewriters b...
 14729  PCTL  ...      Bretford CR4500 Series Slim Rectangular Table
 14730  PCTL  ...                     Eldon Fold 'N Roll Cart System
 ...     ...  ...                                                ...
 16616  PCTL  ...       Sony 8GB Class 10 Micro SDHC R40 Memory Card
 16617  PCTL  ...                    RCA ViSYS 25425RE1 Corded phone
 16618  PCTL  ...                       Cisco 8961 IP Phone Charcoal
 16619  PCTL  ...                        Eureka Hand Vacuum, Bagless
 16620  PCTL  ...                                              LG G2

 [1894 rows x 5 columns],
 'THDR':          0               1           2         3    4
 0     THDR  CA-2017-152156  11/08/2017     993.9  NaN
 1     THDR  CA-2017-138688  06/12/2017     14.62  NaN
 2     THDR  US-2016-108966  10/11/2016  979.9455  NaN
 3     THDR  CA-2015-115812  06/09/2015  3714.304  NaN
 4     THDR  CA-2018-114412  15/04/2018    15.552  NaN
 ...    ...             ...         ...       ...  ...
 4917  THDR  US-2015-114377  11/05/2015     149.9  NaN
 4918  THDR  CA-2018-144491  27/03/2018  1875.128  NaN
 4919  THDR  CA-2015-127166  21/05/2015   186.908  NaN
 4920  THDR  CA-2017-125920  21/05/2017     3.798  NaN
 4921  THDR  CA-2016-128608  01/12/2016   282.316  NaN

 [4922 rows x 5 columns],
 'TITM':           0  ...         4
 4922   TITM  ...    261.96
 4923   TITM  ...    731.94
 4924   TITM  ...     14.62
 4925   TITM  ...  957.5775
 4926   TITM  ...    22.368
 ...     ...  ...       ...
 14721  TITM  ...     3.798
 14722  TITM  ...    10.368
 14723  TITM  ...   235.188
 14724  TITM  ...    26.376
 14725  TITM  ...    10.384

 [9800 rows x 5 columns]}

Imenujemo novu tablicu s obzirom na podatak THDR iz 1. stupca polazne tablice.
S obzirom da će posljednji stupac imati vrijednosti NaN, uklonit ćemo ga jer nam nije potreban za konačnu tablicu.
Svakom stupcu pridružit ćemo ispravna imena stupaca, pohraniti kao csv dokument te potom ispisati.

In [ ]:
THDR= K['THDR'].iloc[: , :-1]
THDR.to_csv('THDR.csv', sep='|', header=["Datatype", "TransactionID", "OrderDate", "TotalPrice"], index=False, )
THDR1 = pd.read_csv("THDR.csv",  sep='|')

Pregledat ćemo rezultat THDR1:

In [ ]:
THDR1

     Datatype   TransactionID   OrderDate  TotalPrice
0        THDR  CA-2017-152156  11/08/2017    993.9000
1        THDR  CA-2017-138688  06/12/2017     14.6200
2        THDR  US-2016-108966  10/11/2016    979.9455
3        THDR  CA-2015-115812  06/09/2015   3714.3040
4        THDR  CA-2018-114412  15/04/2018     15.5520
...       ...             ...         ...         ...
4917     THDR  US-2015-114377  11/05/2015    149.9000
4918     THDR  CA-2018-144491  27/03/2018   1875.1280
4919     THDR  CA-2015-127166  21/05/2015    186.9080
4920     THDR  CA-2017-125920  21/05/2017      3.7980
4921     THDR  CA-2016-128608  01/12/2016    282.3160

[4922 rows x 4 columns]

Imenujemo novu tablicu s obzirom na podatak TITM iz 1. stupca polazne tablice.
Ovdje nije potrebna intervencija stoga broj stupaca ostaje isti kao u polaznoj tablici.
Svakom stupcu pridružit ćemo ispravna imena stupaca, pohraniti kao csv dokument te potom ispisati.

In [ ]:
TITM= K['TITM']
TITM.to_csv('TITM.csv', sep='|', header=["Datatype", "TransactionID", "ProductID", "ProductName", "SoldPrice"], index=False)
TITM1 = pd.read_csv("TITM.csv",  sep='|')

Pregledat ćemo rezultat TITM1:

In [ ]:
TITM1

     Datatype  ... SoldPrice
0        TITM  ...  261.9600
1        TITM  ...  731.9400
2        TITM  ...   14.6200
3        TITM  ...  957.5775
4        TITM  ...   22.3680
...       ...  ...       ...
9795     TITM  ...    3.7980
9796     TITM  ...   10.3680
9797     TITM  ...  235.1880
9798     TITM  ...   26.3760
9799     TITM  ...   10.3840

[9800 rows x 5 columns]

Imenujemo novu tablicu s obzirom na podatak PCTL iz 1. stupca polazne tablice.
Ovdje nije potrebna intervencija stoga broj stupaca ostaje isti kao u polaznoj tablici.
Svakom stupcu pridružit ćemo ispravna imena stupaca, pohraniti kao csv dokument te potom ispisati.

In [ ]:
PCTL= K['PCTL']
PCTL.to_csv('PCTL.csv', sep='|', header=["Datatype", "ProductID", "Category", "Subcategory", "ProductName"], index=False)
PCTL1 = pd.read_csv("PCTL.csv",  sep='|')

Pregledat ćemo rezultat PCTL1:

In [ ]:
PCTL1

     Datatype  ...                                        ProductName
0        PCTL  ...                  Bush Somerset Collection Bookcase
1        PCTL  ...  Hon Deluxe Fabric Upholstered Stacking Chairs,...
2        PCTL  ...  Self-Adhesive Address Labels for Typewriters b...
3        PCTL  ...      Bretford CR4500 Series Slim Rectangular Table
4        PCTL  ...                     Eldon Fold 'N Roll Cart System
...       ...  ...                                                ...
1889     PCTL  ...       Sony 8GB Class 10 Micro SDHC R40 Memory Card
1890     PCTL  ...                    RCA ViSYS 25425RE1 Corded phone
1891     PCTL  ...                       Cisco 8961 IP Phone Charcoal
1892     PCTL  ...                        Eureka Hand Vacuum, Bagless
1893     PCTL  ...                                              LG G2

[1894 rows x 5 columns]


Postigli smo da su sve tri tablice pravilo odijeljene te pohranjene u zasebene csv datoteke.